nav {
	position: relative;
  display: flex;
  justify-content: space-around;
  color: white;
  height: 50px;
  align-items: center;
  transition: all 0.5s;
  /* faqih */
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
}
.sticky {
  margin: 0;
  width: 100vw;
  background-color: #0d6efd;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

nav .logo {
  font-family: "Pacifico", cursive;
  letter-spacing: 3px;
  font-size: 1.2rem;
}

nav ul {
  display: flex;
  list-style: none;
  width: 400px;
  justify-content: space-between;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding-top: 15px;
  font-size: 1.3rem;
  padding-bottom: 15px;
  transition: all 0.5s;
}
nav ul li a:hover {
  color: #03a9f4;
}
nav ul li .out {
	padding: 0 1rem;
	background-color: #03a9f4;
	border-radius: 1rem;
}
nav form {
	display: flex;
	justify-content: center;

}
nav form input{
	border-radius: 0.7rem 0 0 0.7rem;
	padding: 0.4rem;
	font-size: 1rem;
	border: 2px solid #00ccff;
	background-color: transparent;
	color: white;
}
nav form button {
	cursor: pointer;
	color: white;
	border: 1px solid #00ccff;
	background-color: #00ccff;
	padding: 0 1rem;
}

/* menu toggle */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -6px;
  top: -3px;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  transition: all 0.5s ease;
}

.menu-toggle span:nth-child(2) {
  /* background-color: red; */
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  /* background-color: red; */
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: #03a9f4;
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: #03a9f4;
  transform: rotate(-45deg) translate(-1px, -1px);
}

/* Ukuran tablet */
@media screen and (max-width: 780px) {
}

@media screen and (max-width: 575px) {
  nav {
    position: fixed;
    width: 100%;
    z-index: 3;
    margin: 0;
    background-color: #0d6efd;
    justify-content: space-between;
  }
  nav form {
    display: none;
  }
  .sticky {
    position: fixed;
    opacity: 1;
    z-index: 1;
  }
  .menu-toggle {
    display: flex;
		margin-left: 1.5rem;
  }
	nav .logo {
		margin-right: 2rem;
	}
  nav ul {
    position: absolute;
    height: 100vh;
    width: 50%;
    background-color: #0d6efd;
    background: linear-gradient(180deg, #0d6efd 15%, black 95%);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    transform: translate(-100%);
    transition: all 1s;
    opacity: 0;
  }
  nav ul.slide {
    position: absolute;
    transform: translate(0);
    z-index: -1;
    opacity: 1;
  }
}
